<h1>Welcome to South Park Medical Center</h1>
<h2>The best care <em>YOU</em> can afford in current America</h2>
<h3>Choose a Doctor from the list below.........<b>at your own risk</b>
<hr />
<%= link_to "Testamonials", patients_path %>
<hr />
<hr />
<% @doctors.each do |doctor| %>
    <h2>DR: <%= doctor.name %></h2>
<%= link_to "View Doctor", doctor_path(doctor) %>

<% end %>
   
