<h1>Welcome to South Park Medical Center</h1>
<h2>The best care <em>YOU</em> can afford in current America</h2>
<hr />
<% @doctors.each do |doctor| %>
    <h2>DR: <%= doctor.name %></h2>
<%= link_to "View Doctor", doctor_path(doctor) %>
<% end %>
   
